[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Keyboard
Comment=Set caps lock to escape
Exec=/usr/bin/setxkbmap -option caps:escape
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

